* {
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    font-family: sans-serif;
    height: 100%;
    margin: 0;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: clamp(50ch, 45%, 90ch);
}
input,
textarea,
button {
    all: unset;
    font-size: max(1.3vw, 1rem);
    padding: max(1vw, 0.8rem);
    border-radius: 0.8rem;
    border: 3px solid hsl(0, 0%, 65%);
    transition: all 0.5s;
}
:is(input, textarea):focus {
    border-color: hsl(0, 0%, 39%);
}
button:focus {
    background-color: hsl(0, 0%, 39%);
    color: hsl(0, 0%, 90%);
}
button {
    text-align: center;
    font-weight: bold;
    transition: all 0.3s;
    background-color: hsl(0, 0%, 90%);
}
button:hover {
    cursor: pointer;
}
footer {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
}
footer * {
    color: hsl(0, 0%, 39%);
}
footer a:hover {
    color: hsl(0, 0%, 16%);
}
footer a:focus {
    color: hsl(0, 0%, 5%);
}
